@charset "utf-8";
/*!
 *  Create Date: 2015-09-20
 *  Author: zihan
 */

@import '../variables';
@import '../mixins';

@import '../common/addimgbox';



.mod-vote {

    .label {
        display: inline-block;
        vertical-align: middle; }

    .vote {
        display: inline-block;
        width:  20px;
        height: 20px;
        padding: 6px;
        line-height: 9;
        vertical-align: middle;
        overflow: hidden;

        &:before {
            display: block;
            width:  20px;
            height: 20px;
            content: "";
            //@extend %cssicon-fav();
            background-size: 100%;
        }

        &.selected {
            &:before {
                //@extend %cssicon-fav-fill();
            }
        }
    }
}


.comment-inputbox {
    background: #fff;

    > .item {
        padding: $padding-base * 2;
        border-bottom: none;
    }

    &.line-box {
        .label {
            min-width: inherit;
            margin-right: 0;
            padding-left: 0;
            line-height: 32px;
        }
    }

    textarea {
        padding: $padding-base;
        line-height: 20px;
    }

    .photo {
        width:  70px;
        height: 70px;
        margin-right: -1px;
        border: solid 1px #ddd;
        background-size: cover;
        background-position: center;
        box-sizing: border-box;
    }
}

.line-box {

}

.addimgbox {
    margin-right: 0;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
    background-color: #fff;

    > .item {
        margin-right: 0;

        &:last-child {
            .addbtn { padding-right: 0; }
        }
    }
}

.p-comment {

}
