
@import '../variables';
@import '../mixins';

.clearfix:before, .clearfix:after {content: "\200B";display: block;height: 0;clear: both;}
.clearfix:before, .clearfix:after {content: " ";display: table;}

.order_refund {
    min-height: 200px;

    .mod-loading {min-height: 120px;}
}

.mod_back{padding:20px 15px 0}
.mod_back .title{/*line-height:42px;border-bottom:1px solid #eee;*/font-size: 14px;}
.mod_back .refundStatus {margin-top: 0;font-size: 18px;line-height: 2; text-align: center;}
.mod_back h1{line-height:66px;font-size: 16px;color:#d91966;text-align: center}
.mod_back h2 {margin: 20px auto;line-height:66px;font-size: 14px;color:#d91966;}
.mod_back .ui{padding:40px 0 50px 0;}
.mod_back .ui li{width:100%;/*height:120px;*/margin-bottom: 20px;margin-right: 20px;padding:20px; border:1px solid #999;background-color: #fff;float:left;
    box-sizing: border-box;
    -webkit-transition:box-shadow .36s linear;
    -moz-transition:box-shadow .36s linear;
    -ms-transition:box-shadow .36s linear;
    -o-transition:box-shadow .36s linear;
    transition:box-shadow .36s linear;}

.mod_back .ui li a{display: block}
.mod_back .ui li:hover{ box-shadow:0 5px 10px rgba(0,0,0,.3);}
.mod_back .ui li h2{margin-top: 0;line-height: 26px;font-size:16px;}
.mod_back .ui li p{/*line-height:36px*/}
.mod_back .ui li .btn{float:right}
.mod_back .introduction { color: #999; }
.mod_back .introduction h4{font-size: 12px;margin-top:20px;font-weight: bold}
.mod_back .introduction p{ margin: 5px 0; padding-left:20px;line-height: 23px}

/*.formBox{padding:0 20px}*/
.formBox li{margin-bottom:10px;line-height: 30px}
.formBox li .label{width:100px;text-align: right;float:left}
.formBox li .content{margin-left:110px;/*padding-right:360px;*/}
.formBox li .content select{width:100%;height:30px;line-height:30px;box-sizing:border-box}
.formBox li .content input[type="number"]{width:100%;height:30px;/*line-height:30px;*/box-sizing:border-box}
.formBox li .content input[disabled]{text-shadow:none;background:none;border:none;color:#f36}
.formBox li .content textarea{width:100%;box-sizing: border-box;/*border:solid 1px rgba(0,0,0,0.1);transition:box-shadow .2s ease-in-out*/}
.mod_back .foot{padding:20px 0 0 110px}
.mod_back .commodity{ /*width: 902px;*/ min-height: 120px; /*padding-top:20px;*/margin: auto; /*margin-bottom:40px*/}
.mod_back .commodity .pic{width:120px;float:left}
.mod_back .commodity .pic img{width:100px;border:1px solid #eee;padding:5px;}
.mod_back .commodity .desc{margin-left:130px;}
.mod_back .commodity .desc p{line-height:28px;font-size: 14px}
.mod_back .commodity .spec{margin:3px 0}
.mod_back .commodity .spec span{color:#999}
.mod_back .commodity .spec em{color:#d91864;font:bold 18px Arial;}
.tip-error{color:#f36}

.backmod{padding:20px 0 0;}
.backmod h5{padding-left:318px;height:36px;line-height: 36px;background: url("#{$path-img}/ba_modSafety.png") no-repeat 275px -78px;font-size: 18px;margin-bottom:10px}
.backmod p{padding-left:320px;line-height: 26px}
.backmod p span{color:#d91864}
.backmod strong{color:#d91966}
.back_two h5{background-position: 275px -78px}
.back_three h5{background-position: 275px 3px}
.back_error h5{/*background: url("../img/error.png") no-repeat 273px 3px*/}
.backmod .Other{border-top:1px solid #eee;margin:20px 100px 0;padding-top:10px}
.backmod .Other p{color:#999;padding-left:220px;margin-bottom:10px}
.backmod .Other .btn{margin-right:10px}
.backmod .service{padding:10px 20px;border:1px solid #eee;margin-top:30px}
.backmod .service .title{line-height:40px;font-size: 14px;font-weight: bold;}
.backmod .service ul{padding:20px 0 0}
.backmod .service li{height:30px;line-height: 30px;overflow: hidden}
.backmod .service li label{width:70px;float:left}
.backmod .service .item{margin-left:70px;line-height: 30px}

.return_goods{padding:0 0 0 50px}
.return_goods .title{font-size: 14px;font-weight: bold}
.return_goods h2{font-size: 14px;font-weight: bold;line-height: 36px;margin-top:20px}
.return_goods h2 span{font-weight: normal;font-size: 12px;color:#999}
.return_goods p{line-height: 26px}
.return_goods ul{padding-top:10px}
.return_goods li{margin-bottom:10px;}
.return_goods label{width:80px;float:left;line-height:36px;text-align: right}
.return_goods .item{margin-left:88px;line-height: 26px;padding-right:340px}
.return_goods .item input[type="text"]{width:100%;height:18px;line-height: 18px}
.return_goods .item textarea{width:100%;}
.return_goods .item select{width:426px;height:38px;line-height:38px;box-sizing:border-box}
.return_goods .foot{padding-left:90px}

.title_bar {display: none;margin-top: 20px;}
.title_bar h2 {margin-left: 20px; font-size: 16px;}

.backBox{width:600px;padding-bottom:20px}
.backBox .btn{margin:10px 0 0 110px}
.backBox .formBox li .content{padding-right:57px}

.schedule {/*width:902px;height:30px;*/margin: auto; /*background: url("#{$path-img}/sprite.png") no-repeat;*/margin-bottom:20px; background-color: #f5f5f5; }
.schedule li{height:30px;padding-left: 35px;line-height: 30px;color:#737d8c;display: block;}
.schedule li.selected{color:$color-main;font-weight: bold;}
.schedule li.selected:before {
    position: relative;
    left: -25px;

    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: -20px;
    content: "";
    vertical-align: text-top;
    background-size: 16px;
    background-repeat: no-repeat;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg%20style%3D%22width%3A308px;height%3A308px;%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%221024px%22%20height%3D%221024px%22%20viewBox%3D%220%200%201024%201024%22%20enable-background%3D%22new%200%200%201024%201024%22%20xml%3Aspace%3D%22preserve%22><path%20class%3D%22svgpath%22%20data-index%3D%22path_0%22%20fill%3D%22#000000%22%20d%3D%22M474.288097%20127.049604%20857.759815%20508.9792l-82.171488%2081.8471L392.115586%20208.894657%20474.288097%20127.049604z%22%20/><path%20class%3D%22svgpath%22%20data-index%3D%22path_1%22%20fill%3D%22#000000%22%20d%3D%22M857.759815%20508.9792%20474.288097%20890.910842l-82.173534-81.84096L775.588327%20427.134147%20857.759815%20508.9792z%22%20/><path%20class%3D%22svgpath%22%20data-index%3D%22path_2%22%20fill%3D%22#000000%22%20d%3D%22M435.55391%20451.108165c32.088836%200%2058.105373%2025.908066%2058.105373%2057.871035%200%2031.958876-26.016537%2057.866942-58.105373%2057.866942-32.090882%200-58.105373-25.908066-58.105373-57.866942C377.449561%20477.016231%20403.463028%20451.108165%20435.55391%20451.108165z%22%20/><path%20class%3D%22svgpath%22%20data-index%3D%22path_3%22%20fill%3D%22#000000%22%20d%3D%22M241.8707%20451.108165c32.092929%200%2058.107419%2025.908066%2058.107419%2057.871035%200%2031.958876-26.013467%2057.866942-58.107419%2057.866942-32.088836%200-58.102303-25.908066-58.102303-57.866942C183.768397%20477.016231%20209.781864%20451.108165%20241.8707%20451.108165z%22%20/></svg>');
}

.schedule.step1{background-position: 0 -60px}
.schedule.step2{background-position: 0 -90px}
.schedule.step3{background-position: 0 -120px}

/*.schedule_buy {width:890px;height:30px;background: url("#{$path-img}/sprite.png") no-repeat;margin-bottom:20px}*/
/*.schedule_buy li{width:222px;height:30px;line-height: 30px;text-align: center;color:#737d8c;float:left}*/
/*.schedule_buy li.selected{color:#fff}*/
.schedule_buy.step1 {background-position: 0 -151px}
.schedule_buy.step2 {background-position: 0 -181px}
.schedule_buy.step3 {background-position: 0 -211px}
.schedule_buy.step4 {background-position: 0 -241px}

.order_refund .formBox,
.order_refund_type1 .formBox {/*width:902px;*/margin: auto;}
