<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>商品详情</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../_res/images/favicon.ico" /> -->
    <link rel="stylesheet" href="../_res/css/common.css?ver=1.2.1">
    <link rel="stylesheet" id="themeStyle" href="../_res/css/theme.css?ver=1.2.1">
    <link rel="stylesheet" href="../_res/css/product.css?ver=1.2.1">

    <script type="text/javascript" src="../_res/js/global.js?ver=1.2.2"></script>
    <!-- <script type="text/javascript" src="../_res/js/common/getLoginState.js?ver=1.0.2"></script> -->
    <!-- <script type="text/javascript">
        var XLJ = window.XLJ || {};
        XLJ.isLoginCheck = false;
        XLJ.getLoginState();
    </script> -->
    <script type="text/javascript">
        (function () {
            var getQueryString = function(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }

            var pid = window.pid = getQueryString('id') || ''
            // if (!pid) return window.location.href = XLJ.rootPath
        })();
    </script>

</head>
<body class="p-product-detail">

<div id="wrap" class="wrap">

    <div class="container container-main">

        <header id="header" class="header" role="banner">
            <a class="icon-back back" href="#">返回</a>
            <h1 class="title"></h1>
            <!--<a class="icon cssicon cart" href="../cart/index.html"></a>-->
        </header>

        <div class="maincontent">

            <!-- product_detail_base -->
            <div class="region" id="productBase"></div>
            <script type="text/html" id="tpl_product_detail_base">
                <div class="mod_photos swiper-container">
                    <div class="photos swiper-wrapper">
                    {{each parseJson(data.product.image) as productImg}}
                        <div class="photo swiper-slide"><img src="{{productImg.pictureUrl}}@750w_500h_80Q_1e_1c" alt=""></div>
                    {{/each}}
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <div class="detail-box" id="product-detail">
                    <h2 class="title">{{data.product.title}}</h2>
                    <div class="tags">
                        <span class="tagtxt">{{keyMap(data.product.pfunction)}}</span>
                    </div>
                    <strong class="price" data-prefix="￥">{{price(data.product.price)}}</strong>起
                </div>

                {{if data.productParams}}
                <div class="line-box detail-container-params">
                <table class="table-params">
                    <tbody>
                        {{each data.productParams as productParams}}
                        <tr>
                            <td>{{productParams.name}}</td>
                            <td>{{productParams.content}}</td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                </div>
                {{/if}}
            </script>
            <!-- end product_detail_base -->


            <div class="line-box tabtool-slide" style="display: none;" id="productPrices">
                <div class="head">
                    建议至少在2天前的23:59分前预订
                </div>
                <div class="main datalist">
                </div>
                <div class="foot">
                    <span class="showmore popContent" data-target="productPricesBox">更多团期</span>
                </div>
            </div>
            <script type="text/html" id="tpl_product_prices">
                <ul>
                    {{each productPrices as item}}
                    <li>
                        <fieldset class="price-box">
                            <legend class="row-stock">剩余<span class="num">{{item.availableCount}}</span></legend>
                            <div class="row-date">{{weekdate(item.takeOffDate)}}</div>
                            <div class="row-price"><strong class="price" data-prefix="￥">{{price(item.marketPrice)}}</strong></div>
                        </fieldset>
                    </li>
                    {{/each}}
                    <li class="space"></li>
                </ul>
            </script>


            <div id="productContents"></div>
            <script type="text/html" id="tpl_product_detail_contents">
                <div class="line-box tabtool tabtool-slide scrolltab" data-target="#contents">
                    <div class="main">
                        <ul>
                            {{if data.productOther && (data.productOther.feeExclude || data.productOther.feeInclude)}}<li class="current"><a href="#">费用信息</a></li>{{/if}}
                            {{if data.productExt && data.productExt.feature}}<li><a href="#">线路特色</a></li>{{/if}}
                            {{if data.productExt && data.productExt.toBackTraffic}}<li><a href="#">交通信息</a></li>{{/if}}
                            {{if data.productExt && data.productExt.hotelInfo}}<li><a href="#">住宿信息</a></li>{{/if}}
                            {{if data.product && data.product.scheduleDays}}<li><a href="#">推荐行程</a></li>{{/if}}
                            {{if data.product && data.product.visa}}<li><a href="#">签证信息</a></li>{{/if}}
                            {{if data.productOther && data.productOther.attention}}<li><a href="#">预订须知</a></li>{{/if}}
                        </ul>
                    </div>
                </div>

                <div class="tabs" id="tabcontents">

                    {{if data.productOther && (data.productOther.feeExclude || data.productOther.feeInclude)}}
                    <div class="region tab_content mod-content">
                        <div class="head">
                            <h3 class="title">费用信息</h3>
                        </div>
                        <div class="main">

                            {{if data.productOther.feeExclude}}
                            <div>
                                <h4 class="sub-title">费用不包含</h4>
                                <p class="">{{data.productOther.feeExclude}}</p>
                            </div>
                            {{/if}}
                            {{if data.productOther.feeInclude}}
                            <div>
                                <h4 class="sub-title">费用包含</h4>
                                <p class="cont mb20">{{data.productOther.feeInclude}}</p>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}

                    {{if data.productExt && data.productExt.productFeatures}}
                    <div class="region tab_content mod-content">
                        <div class="head">
                            <h3 class="title">线路特色</h3>
                        </div>
                        <div class="main content">
                            {{if typeof data.productExt.productFeatures =='string'}}
                            {{each parseJson(data.productExt.productFeatures) as productFeature}}
                                {{if productFeature.key && productFeature.key =='textarea'}}
                                    {{productFeature.value}}
                                {{else if productFeature.key && productFeature.key =='image'}}
                                    {{each productFeature.value as productFeatureImg}}
                                        <img src="{{productFeatureImg.pictureUrl}}@750w_80Q" data-picture-id="{{productFeatureImg.pictureId}}">
                                    {{/each}}
                                {{/if}}
                            {{/each}}
                            {{/if}}
                        </div>
                    </div>
                    {{/if}}

                    {{if data.productExt && data.productExt.toBackTraffic}}
                    <div class="region tab_content mod-content">
                        <div class="head">
                            <h3 class="title">交通信息</h3>
                            <div class="remark">由于折扣机票存在航班调整的可能，故航班仅供参考，实际出行以最终电子客票为准，请知晓</div>
                        </div>
                        <div class="main">
                            <div class="mod-traffic">
                                <h4 class="sub-title">参考往返交通</h4>
                                <div class="list">
                                    {{each parseJson(data.productExt.toBackTraffic) as productToBackTraffic}}
                                    <div class="item plane">
                                        <div class="g-flexbox">
                                            <div class="return">去</div>
                                            <div class="flex dd">
                                                {{if productToBackTraffic.from == 'flight'}}航空{{/if}}
                                                {{productToBackTraffic.fromFlightNo}}</div>
                                            <div class="dd">{{productToBackTraffic.fromPlanType}}</div>
                                        </div>
                                        <div class="g-flexbox">
                                            <div class="dd">{{productToBackTraffic.fromDepTime}}</div>
                                            <div class="flex ta-c">
                                                <div class="date"><span class="before"></span>{{if productToBackTraffic.fromTimeCount}}{{productToBackTraffic.fromTimeCount}}{{else}}&rarr;{{/if}}<span class="after"></span></div>
                                            </div>
                                            <div class="dd">{{productToBackTraffic.fromArrTime}}</div>
                                        </div>
                                        <div class="g-flexbox">
                                            <div class="dd flex">{{productToBackTraffic.fromDepCity}}</div>
                                            <div class="dd">{{productToBackTraffic.fromArrCity}}</div>
                                        </div>
                                        <div class="g-flexbox">
                                            <div class="sub-cont flex">{{productToBackTraffic.fromDepAirPort}}</div>
                                            <div class="sub-cont">{{productToBackTraffic.fromArrAirPort}}</div>
                                        </div>
                                    </div>
                                    <div class="item plane">
                                        <div class="g-flexbox">
                                            <div class="return">返</div>
                                            <div class="flex dd">
                                                {{if productToBackTraffic.back == 'flight'}}航空{{/if}}
                                                {{productToBackTraffic.toFlightNo}}</div>
                                            <div class="dd">{{productToBackTraffic.toPlanType}}</div>
                                        </div>
                                        <div class="g-flexbox">
                                            <div class="dd">{{productToBackTraffic.toDepTime}}</div>
                                            <div class="flex ta-c">
                                                <div class="date"><span class="before"></span>{{if productToBackTraffic.toTimeCount}}{{productToBackTraffic.toTimeCount}}{{else}}&rarr;{{/if}}<span class="after"></span></div>
                                            </div>
                                            <div class="dd">{{productToBackTraffic.toArrTime}}</div>
                                        </div>
                                        <div class="g-flexbox">
                                            <div class="dd flex">{{productToBackTraffic.toDepCity}}</div>
                                            <div class="dd">{{productToBackTraffic.toArrCity}}</div>
                                        </div>
                                        <div class="g-flexbox">
                                            <div class="sub-cont flex">{{productToBackTraffic.toDepAirPort}}</div>
                                            <div class="sub-cont">{{productToBackTraffic.toArrAirPort}}</div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>

                            </div>
                        </div>
                    </div>
                    {{/if}}


                    {{if data.productExt && data.productExt.hotelInfo}}
                    <div class="region tab_content mod-content">
                        <div class="head">
                            <h3 class="title">住宿信息</h3>
                            <div class="remark">因酒店会受旺季高峰影响导致客房紧张，届时如遇出行高峰即酒店无房时，供应商会安排您转至同级酒店，敬请谅解</div>
                        </div>
                        <div class="main">
                            <div class="mod-hotel">
                                <div class="list">
                                    {{if data.productExt.feature.hotelInfra}}
                                    <div class="item" data-infra-id="">
                                    <h2 class="headtitle" data-prefix="{{keyMap(data.productExt.feature.hotelInfra.typ)}}">{{data.productExt.feature.hotelInfra.title}}</h2>

                                        <div class="detail-container-params">
                                            <table class="table-params">
                                                <colgroup></colgroup>
                                                <tbody>
                                                    {{if data.productExt.feature.hotelInfra.city}}<tr><td>城市</td><td>{{data.productExt.feature.hotelInfra.city}}</td></tr>{{/if}}
                                                    <!-- {{if data.productExt.feature.hotelInfra.typ}}<tr><td>类型</td><td>{{keyMap(data.productExt.feature.hotelInfra.typ)}}</td></tr>{{/if}} -->
                                                    {{if data.productExt.feature.hotelInfra.phone}}<tr><td>电话</td><td>{{data.productExt.feature.hotelInfra.phone}}</td></tr>{{/if}}
                                                    {{if data.productExt.feature.hotelInfra.address}}<tr><td>地址</td><td>{{data.productExt.feature.hotelInfra.address}}</td></tr>{{/if}}
                                                </tbody>
                                            </table>
                                        </div>

                                        {{if data.productExt.feature.hotelInfra.feature}}
                                        <div>
                                            <h4 class="sub-title">设施特点</h4>
                                            {{if data.productExt.feature.hotelInfra.feature.pictureUrl}}<p class=""><img src="{{data.productExt.feature.hotelInfra.feature.pictureUrl}}"></p>{{/if}}
                                            <p class="">{{data.productExt.feature.hotelInfra.feature.content}}</p>
                                        </div>
                                        {{/if}}
                                        
                                        {{if data.productExt.feature.hotelInfra.desc && data.productExt.feature.hotelInfra.desc.length > 0}}
                                        <div>
                                            {{each data.productExt.feature.hotelInfra.desc as guideInfraDesc}}
                                                {{if guideInfraDesc.pictureUrl}}<p class=""><img src="{{guideInfraDesc.pictureUrl}}"></p>{{/if}}
                                                <p class="">{{guideInfraDesc.content}}</p>
                                            {{/each}}
                                        </div>
                                        {{/if}}

                                    </div>
                                    {{/if}}
                                </div>

                            </div>
                        </div>
                    </div>
                    {{/if}}




                    {{if data.product && data.product.scheduleDays}}
                    <div class="region tab_content mod-content">
                        <div class="head">
                            <h3 class="title">推荐行程</h3>
                        </div>
                        <div class="main">
                            <div class="mod-schedule">
                                <div class="list">
                                    {{each parseJson(data.product.scheduleDays) as productScheduleDays index}}
                                    <div class="item">
                                        <h4 class="cont-hd headtitle" data-prefix="Day{{index}}">{{productScheduleDays.city}}出发</h4>
                                        <div class="cont-bd">
                                            {{if productScheduleDays.traffic == 'flight'}}
                                            <div class="cont-line">
                                                <div class="mark ">交通</div>
                                                <div class="flex rich-text-format">{{productScheduleDays.traffic}}</div>
                                            </div>
                                            {{/if}}
                                            <div class="cont-line">
                                                <div class="mark ">住宿</div>
                                                <div class="flex rich-text-format">{{productScheduleDays.hotel}}</div>
                                            </div>
                                            <!-- <div class="cont-line">
                                                <div class="mark ">餐饮</div>
                                                <div class=""></div>
                                            </div> -->
                                            <div class="sub-txt">
                                                <div class="bd">
                                                {{if productScheduleDays.richText}}
                                                {{each productScheduleDays.richText as productScheduleDaysRichText}}
                                                    {{if productScheduleDaysRichText.key =='textarea'}}
                                                        {{productScheduleDaysRichText.value}}
                                                    {{else if productScheduleDaysRichText.key =='image'}}
                                                        {{each productScheduleDaysRichText.value as productScheduleDaysRichTextImg}}
                                                            <img src="{{productScheduleDaysRichTextImg.pictureUrl}}@750w_80Q" data-picture-id="{{productScheduleDaysRichTextImg.pictureId}}">
                                                        {{/each}}
                                                    {{/if}}
                                                {{/each}}
                                                {{/if}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {{/each}}
                                </div>

                            </div>
                        </div>
                    </div>
                    {{/if}}

                    {{if data.product && data.product.visa}}
                    <div class="region tab_content mod-content">
                        <div class="head">
                            <h3 class="title">签证信息</h3>
                        </div>
                        <div class="main">
                            {{data.product.visa}}
                        </div>
                    </div>
                    {{/if}}


                    {{if data.productOther && data.productOther.attention}}
                    <div class="region tab_content mod-content">
                        <div class="head">
                            <h3 class="title">预定须知</h3>
                        </div>
                        <div class="main">
                            {{data.productOther.attention}}
                        </div>
                    </div>
                    {{/if}}

                </div>
            </script>


            <div class="screen-box screen_width" id="sharebox">
                <div class="bgmark cancel"><img src="../_res/images/share-pop.png" width="100%" alt=""></div>
            </div>
        </div><!-- end main content-->

        <div class="container bottom-bar">
            <div class="main shopping-tool">
                <div class="txtcol">
                    <strong class="product-arrive-depart"></strong>
                    <small class="product-no" data-prefix="产品编号："></small>
                </div>
                <div class="btnbox fit">
                    <a class="btn fit popContent" data-target="helpContent" data-content-url="/_res/tpl/tpl_helpcontent.html" href="#">咨询客服</a>
                </div>
            </div>
        </div>


    </div>

    <div class="singleContent" id="productPricesBox">
        <div class="header">
            <div class="icon close"></div>
            <h1 class="title">团期</h1>
        </div>
        <div class="main datalist priceboxs">
        </div>
    </div>

</div>

<script type="text/javascript" src="../_res/libs/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../_res/libs/swiper/3.2.5/js/swiper.min.js"></script>
<script type="text/javascript" src="../_res/libs/artTemplate/3.0/template.js"></script>
<script type="text/javascript" src="../_res/libs/artTemplate/3.0/template-helper.js"></script>

<script type="text/javascript" src="../_res/js/common/util.js"></script>
<script type="text/javascript" src="../_res/js/common/stats.js?v1.2.0"></script>

<script type="text/javascript" src="../_res/js/common.js?ver=1.1.0"></script>

<script type="text/javascript" src="../_res/js/module/loadcontent.js"></script>
<script type="text/javascript" src="../_res/js/common/uiAction.js"></script>
<script type="text/javascript" src="../_res/js/product/detail.js"></script>
<!-- <script type="text/javascript">
    var WEBP = window.WEBP || {}
    try {
        var WEBPStats = WEBP.Stats()
        WEBPStats.init('from_wechat');
        WEBP.PageLoad().updatePageLoadEndTimestamp();
        WEBPStats.upload(30, window.location.pathname);

        if (window.pid) WEBPStats.upload(10, pid);
    } catch(e) {
        console.log(e);
    }
</script> -->
</body>
</html>
