<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>商品</title>
    <link rel="shortcut icon" type="image/x-icon" href="../_res/images/favicon.ico" />
    <link rel="stylesheet" href="../_res/css/common.css?ver=1.2.1">
    <link rel="stylesheet" href="../_res/css/list.css?ver=">
    <link rel="stylesheet" id="themeStyle" href="../_res/css/theme.css?ver=1.2.1">

    <script type="text/javascript" src="../_res/js/global.js?ver=1.2.2"></script>
</head>
<body class="p-list">

<div id="wrap" class="wrap">

    <div class="container container-main">

        <header id="header" class="header" role="banner">
            <a class="icon-back" href="#">返回</a>
            <div class="searchBar" id="searchBar" role="region">
                <form class="main icon-search" id="searchForm">
                    <input type="search" placeholder="搜索商品">
                </form>
                <div class="icon clear" style="display: none;">清除</div>
            </div>
            <span class="link cancel" style="display: none;">取消</span>
            <!--<a class="icon cssicon cart" href="../cart/index.html"></a>-->
        </header>

        <div class="maincontent">

            <div class="region tipbox nothing" style="display: none;">
                <div class="main">
                    <p>没有找到相应的商品</p>
                </div>
                <a class="btn" href="../">返回首页</a>
            </div>
            <div class="region grid-gallery" id="product-list">
            </div>

            <div class="loadmore mod_loading" style="visibility: hidden;"><div class="animate"></div></div>
        </div><!-- end main content-->

        <!--<footer id="footer">
            <nav id="nav" class="mainnav">
                <ul>
                    <li><a class="icon cssicon home" href="../">首页</a></li>
                    <li class="current"><a class="icon cssicon search" href="../product/search.html">搜索</a></li>
                    <li><a class="icon cssicon cart" href="../cart/index.html">购物车</a></li>
                    <li><a class="icon cssicon my user" href="../user/index.html">我的</a></li>
                </ul>
            </nav>
        </footer>-->


    </div>
</div>

<script id="search_item_template" type="text/html">
    {{each result.list as item}}
    <a class="item" href="../product/index.html?id={{item.id}}">
        <div class="cell">
        <div class="photo">
            <img src="{{result.imgDomain}}/{{item.firstPic}}@320w_320h_90Q_1e_1c" alt="{{item.name}}">
        </div>
        <div class="info">
            <h3 class="title">{{item.name}}</h3>
            <!--<span class="subtitle">{{item.highlightName}}</span>-->
            <strong class="price" data-prefix="￥">{{price(item.price)}}</strong>
            <!-- <del class="price" data-prefix="￥">{{price(item.marketPrice)}}</del> -->
        </div>
        </div>
    </a>
    {{/each}}
</script>

<script id="product_item_template" type="text/html">
    {{each result.list as item}}
    {{if item.onlineStatus === 1}}
    <a class="item" href="../product/index.html?id={{item.id}}">
        <div class="photo">
            <img src="{{result.imgDomain}}/{{item.mainPic}}@320w_320h_90Q_1e_1c" alt="{{item.productName}}">
        </div>
        <div class="info">
            <h3 class="title">{{item.name}}</h3>
            <span class="subtitle">{{item.consignee}}</span>
            <strong class="price">￥{{price(item.price)}}</strong>
            <!-- {{if item.price != item.marketPrice}}<del class="price" data-prefix="￥">{{price(item.marketPrice)}}</del>{{/if}} -->
        </div>
    </a>
    {{/if}}
    {{/each}}
</script>


<div id="searchTipBar" style="display: none;">
    <ul class="list ui">
    </ul>
</div>


<script type="text/javascript" src="../_res/libs/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../_res/libs/artTemplate/3.0/template.js"></script>
<script type="text/javascript" src="../_res/libs/artTemplate/3.0/template-helper.js"></script>

<script type="text/javascript" src="../_res/js/common/util.js"></script>
<script type="text/javascript" src="../_res/js/common/stats.js?v1.2.0"></script>
<script type="text/javascript" src="../_res/js/common.js?ver=1.1.0"></script>

<script type="text/javascript" src="../_res/js/product/search.js"></script>
<script type="text/javascript">
    var WEBP = window.WEBP || {}
    try {
        var WEBPStats = WEBP.Stats();
        WEBPStats.init('from_wechat');
        WEBP.PageLoad().updatePageLoadEndTimestamp();
        WEBPStats.upload(30, window.location.pathname);

        var kw = XLJ.getQueryString('kw') || '';
        if (kw) WEBPStats.upload(1, kw);
    } catch(e) {
        console.log(e);
    }
</script>

</body>
</html>
