@charset "utf-8";
/**
 *  Create Date: 2016-09-09
 *  Author: zihan
 *  versiton: 1.0.0
 */


.inApp {

    .container-main > .header,
    .container-main > .footer,
    #header,
    #footer {
        display: none;
    }

    body > .wrap .header {
        display: none;

        + .maincontent {
            padding-top: 0;
        }
    }

    .p-product-detail {
        .mod_amount {
            display: none;
        }
        #footer {
            display: block;

            .operation { display: none; }
        }
    }

}
