<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>文章</title>
    <!-- <link rel="shortcut icon" type="image/x-icon" href="../_res/images/favicon.ico" /> -->
    <link rel="stylesheet" href="../_res/css/common.css?ver=1.2.1">
    <link rel="stylesheet" id="themeStyle" href="../_res/css/theme.css?ver=1.2.1">
    <link rel="stylesheet" href="../_res/css/article.css?ver=1.2.1">

    <script type="text/javascript" src="../_res/js/global.js?ver=1.2.2"></script>
    <!-- <script type="text/javascript" src="../_res/js/common/getLoginState.js?ver=1.0.2"></script> -->
    <!-- <script type="text/javascript">
        var XLJ = window.XLJ || {};
        XLJ.isLoginCheck = false;
        XLJ.getLoginState();
    </script> -->
    <script type="text/javascript">
        (function () {
            var getQueryString = function(name) {
                var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)", "i");
                var r = window.location.search.substr(1).match(reg);
                if (r != null) return unescape(r[2]);
                return null;
            }

            var pid = window.pid = getQueryString('id') || ''
            // if (!pid) return window.location.href = XLJ.rootPath
        })();
    </script>

</head>
<body class="p-article-detail">

<div id="wrap" class="wrap">

    <div class="container container-main">

        <header id="header" class="header" role="banner">
            <a class="icon-back back" href="#">返回</a>
            <h1 class="title"></h1>
            <!--<a class="icon cssicon cart" href="../cart/index.html"></a>-->
        </header>

        <article class="maincontent content_box">

            <div class="head" id="articleBase"></div>
            <script type="text/html" id="tpl_article_detail_base">
                <h2 class="title">{{data.guide.title}}</h2>
                <span class="tagtxt">{{keyMap(data.guide.guideType)}}</span>
            </script>

            <div class="main" id="articleContents">
            </div>
            <script type="text/html" id="tpl_article_detail_content">
                {{each data.guideInfra as guideInfra}}
                <div class="mod-content">
                    <h2 class="headtitle" data-prefix="{{keyMap(guideInfra.guideInfraType)}}">{{guideInfra.infra.title}}</h2>
                    <div class="main content">

                        <div class="detail-container-params">
                            <table class="table-params">
                                <colgroup></colgroup>
                                <tbody>
                                    {{if guideInfra.infra.city}}<tr><td>城市</td><td>{{guideInfra.infra.city}}</td></tr>{{/if}}
                                    {{if guideInfra.infra.typ}}<tr><td>类型</td><td>{{keyMap(guideInfra.infra.typ)}}</td></tr>{{/if}}
                                    {{if guideInfra.infra.phone}}<tr><td>电话</td><td>{{guideInfra.infra.phone}}</td></tr>{{/if}}
                                    {{if guideInfra.infra.address}}<tr><td>地址</td><td>{{guideInfra.infra.address}}</td></tr>{{/if}}
                                </tbody>
                            </table>
                        </div>

                        {{if guideInfra.infra.feature}}
                        <div>
                            <h4 class="sub-title">设施特点</h4>
                            {{if guideInfra.infra.feature.pictureUrl}}<p class=""><img src="{{guideInfra.infra.feature.pictureUrl}}"></p>{{/if}}
                            <p class="">{{guideInfra.infra.feature.content}}</p>
                        </div>
                        {{/if}}
                        
                        {{if guideInfra.infra.desc && guideInfra.infra.desc.length > 0}}
                        <div>
                            {{each guideInfra.infra.desc as guideInfraDesc}}
                                {{if guideInfraDesc.pictureUrl}}<p class=""><img src="{{guideInfraDesc.pictureUrl}}"></p>{{/if}}
                                <p class="">{{guideInfraDesc.content}}</p>
                            {{/each}}
                        </div>
                        {{/if}}

                    </div>
                </div>
                {{/each}}
            </script>

            <script type="text/html" id="tpl_article_detail_content_guidePage">
                <div class="mod-content">
                    {{data.guide.content}}
                </div>
            </script>


        </article><!-- end main content-->

    </div>
</div>

<script type="text/javascript" src="../_res/libs/jquery/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../_res/libs/swiper/3.2.5/js/swiper.min.js"></script>
<script type="text/javascript" src="../_res/libs/artTemplate/3.0/template.js"></script>
<script type="text/javascript" src="../_res/libs/artTemplate/3.0/template-helper.js"></script>

<script type="text/javascript" src="../_res/js/common/util.js"></script>
<script type="text/javascript" src="../_res/js/common/stats.js?v1.2.0"></script>

<script type="text/javascript" src="../_res/js/common.js?ver=1.1.0"></script>

<script type="text/javascript" src="../_res/js/module/loadcontent.js"></script>
<script type="text/javascript" src="../_res/js/article/detail.js"></script>
<!-- <script type="text/javascript">
    var WEBP = window.WEBP || {}
    try {
        var WEBPStats = WEBP.Stats()
        WEBPStats.init('from_wechat');
        WEBP.PageLoad().updatePageLoadEndTimestamp();
        WEBPStats.upload(30, window.location.pathname);

        if (window.pid) WEBPStats.upload(10, pid);
    } catch(e) {
        console.log(e);
    }
</script> -->
</body>
</html>
